<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button autoHide="false"></ion-back-button>
      </ion-buttons>
      <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
          EyeWitness | About Us
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
      <h1>OUR VISION</h1>
      <p>Justice and dignity for communities affected by extractive industries</p><br><hr>

      <h1>OUR MISSION</h1>
      <p>To defend, protect and support communities affected by extractive industries through research, community empowerment and community driven advocacy</p><br><hr>

      <h1>OUR CORE VALUES</h1>
      <p>1. Non-Discriminatory</p><br>
      <p>2. Accountability and Transparency </p><br>
      <p>3. Inclusiveness</p><br>
  </div>
</ion-content>