ion-row {
    margin: 3%;
}

ion-label {
    font-size: larger;
}


// h2 {
//     text-align: left !important;
//     margin-top: 10%;
//     font-size: larger !important;
//     font-weight: bold;
// }

h1 {
    font-size: x-large;
}