h1 {
    font-size: 20px;
}

ion-icon {
    color: #6d0101;
}

ion-icon {
    color: #6d0101;
    zoom: 1.5;
}


h2 {
    color: black !important;
    font-size: larger !important;
    font-weight: bold;
}

#universal {
    color: white;
    background-color: #6d0101;
    font-size: medium;
    margin: auto;
    text-align: justify;
}


.fbButtons ion-button {
    width: 25% !important;
    display: inline-block !important;
    margin: 0 2% !important;
}

textarea {
    color: black !important;
    background-color: white !important;
}