<ion-app>
  <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content">
          <ion-header color="primary">
              <ion-toolbar color="primary">
                  <ion-title text-center>EyeWitness application</ion-title>
              </ion-toolbar>
          </ion-header>
          <ion-content>
              <ion-list lines="none">
                  <div class="ion-text-center">
                      <img src="assets/imgs/CNRG-Final-logo.png" class="img img-rounded"
                          style="height: auto;width: 80%;padding: 2%;">
                  </div>
                  <ion-list>
                      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                          <ion-item tappable (click)="navigateP(p.url);">
                              <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
                              <ion-label>
                                  {{p.title}}
                              </ion-label>
                          </ion-item>
                          <hr>
                      </ion-menu-toggle>
                  </ion-list>
              </ion-list>
              <ion-list lines="none">
              </ion-list>
          </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>