ion-label {
    display: block !important;
}

ion-img {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

ion-icon {
    margin-right: 3% !important;
}

h2 {
    text-align: left !important;
    margin-top: 10%;
    font-size: larger !important;
    font-weight: bold;
}