<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button autoHide="false"></ion-back-button>
      </ion-buttons>
      <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
          Help
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>How to use EyeWitness</h1><hr><br>

  <p>
    The application is for reporting incidents that would have occured. Click on the report button and it will take you straight to a page were you fill in all the information that you have about the incident that you want to report.
  </p>

  <p style="margin-top: 2%">
    <a [routerLink]="['/contactus']">Contact us</a> if you have any query or any challenges. 
  </p>
</ion-content>